<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog project 0</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- //bootstrap -->
    <link rel="stylesheet" type="text/css" href="style.css"> <!-- // my css -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> <!--google font stylesheet-->
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'> <!--// google font stylesheet-->
    <link href='http://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'><!--google font stylesheet-->

  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
          <h1><span class="header">Welcome!!</span></h1>
      </div>
    </div>


<div class = "container">
  <form class="form-horizontal" id="postForm">
   <div class="form-group">
    <label for="text" class="col-sm-4 control-label">Title</label>
      <div class="col-sm-4">
       <input type="name" class="form-control" id="inputName" placeholder="Blog Post Title">
      </div>
   </div>

   <div class="form-group">
    <label for="text" class="col-sm-4 control-label">Author</label>
      <div class="col-sm-4">
       <input type="name" class="form-control" id="authorName" placeholder="Author">
      </div>
   </div>

  <div class="form-group">
    <label for="text" class="col-sm-4 control-label">Post</label>
     <div class="col-sm-4">
      <textarea class="form-control" rows="5" id="inputPost" placeholder="What's on your mind?"></textarea>
     </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-5">
      <button type="submit" class="btn btn-default">Post!</button>
    </div>
  </div>
</form>
</div>

  <div class = "container">
    <div class = "row">
      <div class = "col-md-8 col-md-offset-2">
        <div id = "blog">
          
        </div>
      </div>
    </div>
  </div>
    
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!--  // bootstrap jquery -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!--  //bootstrap javascript -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script> <!-- //underscore template library -->

 <script src="script.js"></script> <!-- //my script -->


<!-- underscore template -->
      <script type="text/template" id="blogTemplate">
        <div class="blog">
          <div id="flip">
            <h2>
              <%= inputName %> 
            </h2>
            <h6>
              Written by: <%= authorName %>
            </h6>
          </div>
          <div id="panel">
            <h4>
              <%= inputPost %>
              <br>
              <h7> <!--// modal so it is inside the rectangle instead of outside-->
                <button type="button" class="btn btn-default btn-xs btn pull-right" id="button" data-toggle="modal" data-target="#comment" role="button">Add a comment</button>
                  <div class="modal fade bs-example-modal-lg" id="comment" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">

                        <div class = "container"> <!--//container for modal-->

                          <form class="form-horizontal" id="modalForm"> <!--//modal form name-->
                           <div class="form-group text-center">
                              <h2>Feel free to leave a comment </h2> <!--//header for comment form-->
                            <label for="text" class="col-sm-4 control-label">Name</label>
                              <div class="col-sm-4">
                               <input type="name" class="form-control" id="modalInputName" placeholder="Name">
                              </div>
                           </div>


                          <div class="form-group"> <!--//modal form comment-->
                            <label for="text" class="col-sm-4 control-label">Comment</label>
                             <div class="col-sm-4">
                              <textarea class="form-control" rows="5" id="modalInputPost" placeholder="What's do you think about this?"></textarea>
                             </div>
                          </div>

                          <div class="form-group"> <!--//modal form submit-->
                            <div class="col-sm-10 col-sm-offset-5">
                              <button type="submit" class="btn btn-default">Comment!</button>
                            </div>
                          </div>
                        </form>
                        </div><!--// container for modal-->

                      </div>
                    </div>
                  </div>
              </h7>
            </h4>
          </div>
        </div>
      </script>

  </body>
</html>